#categoryHeader {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
  background: none;
}

a#deleteButton {
  text-decoration: none;
  color: rgb(233, 28, 28);
  padding: .3em;
  padding-top: .3em;

    &:hover {
      color: rgb(104, 14, 14);
    }
}