#ExpenseWrapper {
  margin-top: 1em;
}

.ExpenseForm {
  display: flex;
  flex-direction: column;

  &:hover {
    @include box-basic;
    background: black;
    outline: none;
  }

}

#expenseHeader {
  margin-top: 1em;
  background: none;
}

div#ExpenseDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#expenseName {
  width: $category-name-width;
}

#expenseAmt {
  width: $budget-amt-width;
}

#expenseSubmitButton {
  display: block;
  margin-top: .7em;
  width: 8em;
  height: 3em;
  margin-left: 3em;

}

input.inactive {
  background: black;
  color: white;
  border: 1px ivory;

    &:hover, &:focus {
      background: white;
      color: black;
    }
}

a#deleteExpense {
  text-decoration: none;
  color: #e91c1c;
  padding: .3em;
  margin-right: 2.8em;
  padding-top: .3em;
}

#expenseSubmitButton.hidden {
  display: none;
  visibility: hidden;

  &:hover, &:focus {
    display: block;
    visibility: visible;
  }
}

.invisible {
  display: none;
}