@import 'vars';

.dashboard {
    margin: auto;
    width: 90%;
    
    h1 {
        background-color: $color-light-gray * 1.1;
        border: 1px solid $color-light-gray;
        color: $color-blue;
        font-size: 2em;
        height: auto;
        text-align: center;
    }
}