@import url('https://fonts.googleapis.com/css?family=Molengo');

$color-white: #ffffff;
$color-light-gray: #D9D9D9;
$color-dark-gray: #353535;
$color-blue: #284B63;
$color-green: #3C6E71;


$font-main: 'Molengo', sans-serif;